@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root{
    --primary: #1a1a1a;
    --secondary: #f8f9fa;
    --accent: #2c3e50;
    --text-color: #333;
    --light-gray: #e9ecef;
    --white: #ffffff;
    --gold: #d4af37;
    --font-heading: 'Playfair Display', serif;
    --font-body: 'Montserrat', sans-serif;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--font-body);
    line-height: 1.6;
    color: var(--text-color);
    background-color: var(--white);
    overflow-x: hidden;
}

h1, h2, h3, h4 {
    font-family: var(--font-heading);
    color: inherit;
    transition: var(--transiton);
}

a {
    text-decoration: none;
    color: inherit;
    transition: var(--transiton);
}

ul {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}
/*Estilos base global*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* --- HEADER*/

.btn {
    font-family: var(--font-heading);
    display: inline-block;
    padding: 12px 30px;
    background-color: var(--primary);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: 1px;
    border: none;
    cursor: pointer;
    transition: var(--transition);
    border-radius: 10px;
}

.btn-gold {
    background-color: var(--primary);
    color: var(--white);
}

.btn-gold:hover {
    background-color: var(--gold);
    color: var(--white);
    transform: scale(1.05);
}


.section-padding {
    padding: 80px 0;
}

/* --- HEADER Y NAVEGATION --- */
header {
    background-color: var(--white);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.menu-toggle,
.menu-close {
    display: none;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.menu-toggle img,
.menu-close img {
    width: 28px;
    height: 28px;
    display: block;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}

.logo h1 {
    font-size: 1.5rem;
    margin-bottom: 0;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    gap: 30px;
    align-items: center;
}

.nav-links a {
    font-family: var(--font-heading);
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.nav-links a:hover,
.nav-links a.active { 
    color: var(--gold);
}

/* --- HERO SECTION ---*/
.hero {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://dcdn-us.mitiendanube.com/stores/001/165/367/themes/new_linkedman/2-slide-1775144470211-7311036163-3c0b62838b0fa4949a8e3cce2849e3f41775144473-1920-1920.webp?2326769467676252184') center/cover;
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    color: var(--white);
    text-align: center;   
}

.hero-title {
    color: var(--white);
    font-size: 3.5rem;
    margin-bottom: 50px;
}

/* --- INTRO SECTION*/

.intro-header {
    text-align: center;
    max-width: 650px;
    margin: 0 auto 60px auto;
}

.intro-title{
    font-family: var(--font-heading);
    font-size: 2.2rem;
    letter-spacing: 3px;
    text-transform: uppercase;
    color: var(--primary);
    font-weight: 700;
    margin-bottom: 20px;
}

.divider{
    width: 50px;
    height: 1px;
    background-color: var(--light-gray);
    margin: 0 auto 25px auto;
}

.intro-description {
    font-family: var(--font-heading);
    text-align: center;
    max-width: 620px;
    margin: 0 auto;
    font-size: 0.95rem;
    line-height: 1.8;
    font-weight: 300;
    color: var(--primary);
    letter-spacing: 1.5px;    
}

.intro-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 50px;
    align-items: center;
}

.intro-image img{
    border-radius: 5px;
    box-shadow: 20px 20px 0 var(--secondary);
}

.intro-text h3 {
    font-family: var(--font-heading);
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.intro-text p {
    font-family: var(--font-heading);
    font-size: 15px;
    margin-bottom: 20px;
}

.intro-text p:last-of-type {
    margin-bottom: 30px;
}


/*--- FEATURED CATEGORIES ---*/

.featured-categories {
    background-color: var(--secondary);
}


/* --- FOOTER --- */

footer {
    background-color: var(--primary);
    color: var(--white);
    padding: 60px 0 20px;
}

.footer-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 40px;
    margin-bottom: 40px;
}

.footer-section h3 {
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
    position: relative;
}

.footer-section h3::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -8;
    width: 40px;
    height: 2px;
    background-color: var(--gold);
}

.footer-section p, .footer-section li {
    font-size: 0.9rem;
    color: #bbb;
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #333;
    font-size: 0.8rem;
    color: #777;
}

/* Responsive */
@media (max-width: 700px) {
    .menu-toggle{
        display: block;
    }
    .navbar {
        flex-direction: column;
        gap: 15px;
    }
    .nav-links {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: var(--white);
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        gap: 20px;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.08);
        display: none;        
    }
    .nav-links.active{
        display: flex;
    }
    .menu-close {
        display: block;
        margin-top: 10px;
    }
    .section-padding {
        padding: 50px 0;
    }
    .hero-title {
        font-size: 2.2rem;
    }
}


